<head>
	<title>Minu kodukas!</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Suur pealkiri</h1>
	<h2>Keskmine pealkiri</h2>
	<h3>Väike pealkiri</h3>
	<h4>Veel väiksem pealkiri</h4>
	<p>Paragraaf. Tavaline tekst</p>
	<ol> <!-- ordered list -->
		<li>Esimene</li> <!-- list item -->
		<li class="kastiga">Teine</li>
		<li>Kolmas</li>
	</ol>
	<form>
	
	<input id="nimi" placeholder="Mis on su nimi"/>
	<input value="Mis on su nimi"/>
	<input type="checkbox"/>
	<input type="range"/>
	<input type="submit"/>
	<input type="datetime-local"/>
	</form>
	<img class="kastiga" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png "/>
	<script src="script.js"></script>
<br/>
<br/>
<br/>
<br/>
<br/>


</body>