<!--
	1.määra lehele <title>
	2.tekita body koos mingi tekstiga

	-->
<head>
	<title>ChatFrontEnd </title>
	<meta charset="кодировка">
</head>
<body>
Mingi teks.
	<div id="jutt">tekst tekst</div>
	<form>
	<input id="username" placeholder="username"/>
	<input id="message" placeholder="sõnum"/>
	<input type = "submit">
	</form>
	<script src="script.js"></script>
</body>