<!--
	1.määra lehele <title>
	2.tekita body koos mingi tekstiga

	-->
<head>
	<title>Kristeri chat </title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="utf-8"/>
</head>
<body>
	<div id="jutt"></div>
	<form>
	<input id="username" value = "Krister" placeholder="username"/>
	<input id="message" value = "Minu esi nimi sõnum:)"placeholder="sõnum"/>
	<input type = "submit"/>
</form>
	<script src="script.js"></script>
</body>