<!--
	1.määra lehele <title>
	2.tekita body koos mingi tekstiga

	-->
<head>
	<title>Chati lehekülg </title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="utf-8"/>
</head>
<body>
<input id="room" value="general">
<br>
	<div id="jutt"></div>
	<form>
		<input id="username" value = "Marina" placeholder="username"/>
		<input id="message" value = "Minu esi nimi sõnum:)"placeholder="sõnum"/>
		<input id ="pilt" placeholder="pilt">
		<input type = "submit"/>
	</form>

	<script src="script.js"></script>
</body>